{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "adrian@upwis.com",
      "Space": "develop-iot"
    },
    "Name": "john_firmware_test",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}